<div id="<%= dom_id booking_type %>" class="border border-spacing-x-48 mb-3 p-5 shadow-xl">
  <p>
    <strong>Name:</strong>
    <%= booking_type.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= booking_type.location %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= booking_type.description %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= booking_type.color %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= booking_type.duration %>
  </p>

  <p>
    <strong>Payement required:</strong>
    <%= booking_type.payement_required %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= booking_type.price %>
  </p>

  <p>
    <strong>User:</strong>
    <%= booking_type.user_id %>
  </p>
    <p>
      <%= link_to "Show this booking type", booking_type, class: button_style %>
    </p>
</div>
