<%= form_with(model: booking_type) do |form| %>
  <% if booking_type.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(booking_type.errors.count, "error") %> prohibited this booking_type from being saved:</h2>

      <ul class="font-thin">
        <% booking_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block", class: label_style %>
    <%= form.text_field :name, class: input_style %>
  </div>

  <div>
    <%= form.label :location, style: "display: block", class: label_style %>
    <%= form.text_field :location , class: input_style%>
  </div>

  <div>
    <%= form.label :description, style: "display: block", class: label_style %>
    <%= form.rich_text_area :description, class: input_style %>
  </div>

  <div>
    <%= form.label :color, style: "display: block", class: label_style %>
    <%= form.color_field :color %>
  </div>

  <div class="flex items-center">
    <%= form.check_box :payement_required%>
    <%= form.label :payement_required, style: "display: block", class: label_style %>
  </div>

  <div>
    <%= form.label :price, style: "display: block", class: label_style %>
    <%= form.number_field :price, value: 0, class: input_style %>
  </div>

  <div class="flex items-center gap-3 my-4">
  <div>
    <%= form.label :start_date, class: label_style %>
    <%= form.datetime_field :start_date %>
  </div>

  <div>
    <%= form.label :end_date, class: label_style %>
    <%= form.datetime_field :end_date %>
  </div>
  </div>

  <div class="flex flex-row gap-6 w-max m-5">
    <%= form.submit class: button_style %>
    <%= link_to "Back to booking types", booking_types_path, class: link_style%>
    <%= link_to "Show this booking type", @booking_type, class: link_style %> 
  </div>
<% end %>
