<%=render "homes/dashboard"%>

<p style="color: green"><%= notice %></p>

<h1 class="title-2 m-5">Booking types</h1>
<%= link_to "Pdf report", booking_types_path(format: 'pdf')%>
<div id="booking_types" class="grid-container">
  <% @booking_types.each do |booking_type| %>
    <%= render booking_type %>
  <% end %>

</div>
    <%=render "shared/paginate", model: @booking_types%>


