<div id="<%= dom_id booking %>">
  <p>
    <strong>Status:</strong>
    <%= booking.status %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= booking.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= booking.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= booking.email %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= booking.notes %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= booking.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= booking.end_date %>
  </p>

  <p>
    <strong>Customer paid:</strong>
    <%= booking.customer_paid %>
  </p>

  <p>
    <strong>Booking type:</strong>
    <%= booking.booking_type_id %>
  </p>

</div>
