<tr id="<%= dom_id booking %>">
<td class="table-td">
  <%=form_with(model: booking, method: :patch) do |form|%>
    <%=form.select :status, options_for_select(Booking.statuses.map {|key, value| [key.capitalize, key]}, form.object.status), class: input_style%>
  <%end%>
</td>

    
    
        <td class="table-td"><%= booking.first_name %> <%= booking.last_name %></td>
        <td class="table-td">    <%= booking.email %>
</td>
    
      
        <td class="table-td"><%= booking.booking_type.name %></td>
        <td class="table-td"><%=booking.booking_type.payement_required? ? "Yes" : "No"%></td>
        <td class="table-td"><%= booking.customer_paid? ? "Yes" : "No" %></td>
</tr>
