

<%= form_with(model: booking, class: "w-8/12 my-5 mx-auto") do |form| %>
  <% if booking.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :first_name, style: "display: block", class: label_style %>
    <%= form.text_field :first_name, class: "input-box" %>
  </div>

  <div>
    <%= form.label :last_name, style: "display: block", class: label_style %>
    <%= form.text_field :last_name, class: "input-box" %>
  </div>

  <div>
    <%= form.label :email, style: "display: block", class: label_style %>
    <%= form.text_field :email, class: "input-box" %>
  </div>

  <div>
    <%= form.label :notes, style: "display: block", class: label_style %>
    <%= form.rich_text_area :notes, class: "input-box w-full" %>
  </div>
  <input type="hidden" name="booking[booking_type_id]" value="<%= @booking_type.id %>">


  <div class="flex gap-6 items-center my-4">
    <%= form.submit @booking_type.payement_required? ? "Schedule this booking for #{number_to_currency(@booking_type.price)}" : "Schedule Booking", class: button_style %>
  </div>
<% end %>
