<h2 class="title">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, class: label_style %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: input_style %>
  </div>

  <div class="actions flex gap-4 items-center my-4">
    <%= f.submit "Send me reset password instructions", class: button_style %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>

