<h3>Hi <%=@type.user.first_name%>,</h3>

<div>
<p>We would like to inform you that <strong><%=@booking.first_name%> <%=@booking.last_name%> </strong> book on your <strong><%=@type.name%> </strong> event!</p>
</div>
<p>

Take a look at all booked events <%= link_to "click here", authenticated_root_url%>.
<br/>
Thank you again for choosing Ketero! 
<br/>
We look forward to working with you to make your event a success.
<br/>
<br/>
<strong>Sincerely, <br/>The Ketero Team </strong>
</p>