<style>
    a{
    text-decoration: none;
    display: block;
    border: 2px solid #ccc;
    padding: 5px;
    border-radius: 8px;
    }
    p{
        font-size: 16px;
    }
    </style>
<div style="margin: 10px 35px">
<h3 class="text-2xl text-gray-800">Hi <%=@booking.first_name%>,</h3>

<div>
<p>We would like to confirm that you are booking <strong><%=@type.name%> </strong> event for <strong><%= @type.payement_required? ? number_to_currency(@type.price): "Free" %></strong> hosted by <strong><%=@type.user.first_name%> <%=@type.user.last_name%></strong></p>

<p><strong>Hosted By:</strong><br/> <%=@type.user.first_name%> <%=@type.user.last_name%></p>
<p><strong>Desceiption:</strong><%=@type.description%></p>
<p><strong>Start Date:</strong> <br/> <%=@type.start_date%></p>
<p><strong>End Date:</strong> <br/><%=@type.end_date%></p>
<p><strong>Location:</strong> <br/><%=@type.location%></p>
<div style="display: flex; gap: 15px; align-items: center; margin: 5px 2px;">
<%= link_to "Update Event", edit_booking_url(@booking)%>
<%= link_to "Access booking pages", default_root_url%>
<%= link_to "Access free event", free_event_url%>
</div>
<br/>
Thank you again for choosing Ketero! 
We look forward to working with you to make your event a success.<br/><br/>
<strong>Sincerely, <br/>The Ketero Team </strong>
</div>
    </div>



