<%=render "header"%>

<div class = "mx-2">
      
   <section class="top-section">
    <div class="top-left-section">
        <h1 class="text-6xl text-blue-700 font-bold font-sans text-left">
           <strong>Ketero</strong> the platform -- <br/> that makes your event planning simplified 
        </h1>
        <p class="p-5 text-left font-serif text-gray-950 text-2xl">
            Thank you again for choosing Ketero! 
          We look forward to working with you to make your event a success.
        </p>
    </div>
    <div class="top-right-section">
        <%= image_tag("cover1.png", class: "w-8/12 h-70")%>
            </div>
   </section>
  
    <h2 class="leading-title">
        Latest Events
    </h2>   <%= form_tag('/', method: 'get', class: 'search-form') do %>
      <input type="text" name="query"  placeholder="Search..." class="input">
      <input type="submit" value="Search", class="flex-1">
    <% end %>
    <section class="middle-section mx-5 mt-5 border-t-2">
    

     <div class="grid-container mx-6">
       <%@paid_events.each do |event| %>
         <%=render "users/booking_type", event: event%>
       <%end%>
    </div>
   </section>
   <hr/>
    <%=render "shared/paginate", model: @paid_events%>


