<%=render "homes/header"%>

<div class="w-5/12 m-auto p-5 my-6 border border-blue-600">
<h2 class="title">Log in</h2>
<div class="  m-auto">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field mb-4">
    <%= f.label :email, class: label_style %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-box" %>
  </div>

  <div class="field mb-4">
    <%= f.label :password, class: label_style %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "input-box" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class: label_style %>
    </div>
  <% end %>

  <div class="actions flex items-center gap-4 my-5">
    <%= f.submit "Log in", class: button_style %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>
</div>


  </div>